[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

falcon = "*"
requests = "*"
sqlalchemy = "*"
"psycopg2" = "*"
pandas = "*"
gunicorn = "*"
tensorflow = "*"
keras = "*"
sklearn = "*"
statsmodels = "*"
falcon-cors = "*"
theano = "*"
"h5py" = "*"


[dev-packages]

